body {
    margin: unset;
    background: black;
    --base-padding: 20px;
    font-family: Helvetica, sans-serif;
    user-select: none;
    -webkit-user-select: none;
    color: white;
}

button {
    outline: unset;
}

#remoteVideo {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}

#localVideo {
    max-width: calc(50vw - 20px);
    max-height: calc(30vh - 20px);
    min-width: 50px;
    min-height: 50px;
    position: fixed;
    bottom: max(env(safe-area-inset-bottom), var(--base-padding));
    right: max(env(safe-area-inset-right), var(--base-padding));
    /*background: #111111;*/
    border-radius: 25px;
    /*border: 1px solid white;*/
    z-index: 2;
    box-shadow: 0 5px 15px rgba(17, 17, 17, 0.5);
    cursor: move;
    /*transition: all .3s ease-out;*/
    touch-action: none;
}

#localVideo:hover {
    /*opacity: .7;*/
    /*transition: all .3s ease-out;*/
}

body:before {
    content: '';
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    max-width: 1440px;
    height: 100px;
    display: block;
    position: fixed;
    background: url("/images/3.png") top left / 50% no-repeat, url("/images/4.png") top left / 50% no-repeat, url("/images/background.png") top left / 50% repeat-x;
    pointer-events: none;
    /*-webkit-mask-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));*/
    -webkit-mask-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.logo {
    /*position: fixed;
    top: max(env(safe-area-inset-top), var(--base-padding));
    left: max(env(safe-area-inset-left), var(--base-padding));*/
    width: 300px;
    margin-right: var(--base-padding);
    /*z-index: 100;
    pointer-events: none;*/
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    position: fixed;
    z-index: 10;
    bottom: max(env(safe-area-inset-bottom), var(--base-padding));
    left: max(env(safe-area-inset-left), var(--base-padding));
    pointer-events: none;
}

.buttons-container > * {
    margin: 5px 0;
    pointer-events: initial;
}

.buttons-container > *:first-child {
    margin-top: unset;
}

.buttons-container > *:last-child {
    margin-bottom: unset;
}

.buttons-container > p {
    width: calc(50vw - 20px);
    max-width: 300px;
    font-size: 12px;
    opacity: .5;
}

#timer,
#refresh,
#feedback {
    font-size: 30px;
    color: white;
    display: block;
    -webkit-backdrop-filter: blur(25px);
    background-color: rgba(45, 45, 45, 0.3);
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 600;
}

header {
    display: none;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 11;
    top: max(env(safe-area-inset-top), var(--base-padding));
    left: max(env(safe-area-inset-left), var(--base-padding));
    right: max(env(safe-area-inset-right), var(--base-padding));
    pointer-events: none;
}

#refresh,
#feedback {
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
}

#feedback {
    font-size: 16px;
    padding: 10px 15px;
}

#feedback:not(:hover) {
    color: rgba(255, 255, 255, .5);
    background-color: rgba(45, 45, 45, 0.3);
}

#refresh:hover,
#feedback:hover {
    background-color: rgba(66, 66, 66, .5);
}

#companion {
    opacity: 1;
    font-size: 16px;
}

.hide {
    display: none;
}

@media (min-width: 1439px) {
    body:before {
        background: url("/images/3.png") top left / 700px no-repeat, url("/images/4.png") top left / 700px no-repeat, url("/images/background.png") top left / 40% repeat-x;
    }
}

@media (max-width: 1024px) {
    body:before {
        background: url("/images/3.png") top left / 700px no-repeat, url("/images/4.png") top left / 700px no-repeat, url("/images/background.png") top left / 70% repeat-x;
    }

    .logo {
        width: 150px;
    }

    #timer,
    #refresh,
    #feedback {
        font-size: 16px;
        padding: 10px 15px;
        font-weight: 400;
    }

    #feedback {
        font-size: 14px;
        padding: 5px 10px;
        /*bottom: calc(max(env(safe-area-inset-bottom), var(--base-padding)) + 50px);*/
    }

    #localVideo {
        max-height: calc(20vh - 20px);
        border-radius: 20px;
    }
}

@media (max-width: 460px) {
    body:before {
        background: url("/images/3.png") top left 70% / 160% no-repeat, url("/images/4.png") top left / 160% no-repeat, url("/images/background.png") top left / 100% repeat-x;
    }

    body:before {
        -webkit-mask-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
        mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    }
}

@media (max-width: 413px) {
    body:before {
        background: url("/images/3.png") top left 10% / 130% no-repeat, url("/images/4.png") top left 30% / 150% no-repeat, url("/images/background.png") top left / 120% repeat-x;
    }

    #timer {
        font-size: 12px;
    }
}

@media (max-width: 350px) {
    body {
        --base-padding: 10px;
    }

    #timer {
        font-size: 10px;
    }
}

@media (orientation: landscape) and (max-width: 1024px) {
    /*.logo {
        top: max(env(safe-area-inset-top), 10px);
        left: max(env(safe-area-inset-left), 10px);
    }*/
    #localVideo {
        max-width: calc(50vw - 20px);
        max-height: calc(50vh - 20px);
    }
}
